main {
    margin-top: 100px;
}

.cus-info {
    position: relative;
}

.cus-title {
    position: absolute;
    top: -80px;
    left: -30px;
    background-color: #ffffff;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray;
}

.cus-title::before {
    content: "";
    background-color: paleturquoise;
}

#map {
    height: 600px;
    margin-bottom: 100px;
}

/*  검색 정보  */
#trip-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#search-title {
    text-align: center;
    margin: 30px;
    font-size: 40px;
    font-weight: bold;
}

.detail-container {
    position: relative;
    width: 23%;
    height: 400px;
}

.detail-img {
    width: 100%;
    height: 100%;
}

.detail-img img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.detail-textarea {
    position: absolute;
    width: 100%;
    height: 15%;
    padding: 10px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    transition: height 1s;
}

.detail-title {
    margin-bottom: 5px;
    font-size: 20px;
    color: white;
}

.detail-pos {
    display: none;
    color: white;
}

.detail-container:hover .detail-textarea {
    height: 100%;
}

.detail-textarea:hover .detail-pos {
    display: block;
}
